* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    /* ajuda a evitar vazamentos */
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Roboto Flex', sans-serif;
}

:root {
    --general: #19243d;
    --grey: #3f4144;
    --primary: #dc9119;
    --base: #E5E5E5;
    --green: #58ca76;
}